<div>
    <div>
        <a
           href="/posts?author=<%= post.author._id %>"
           data-title="<%= post.author.name%>"
           data-content="<%= post.author.bio %>">
            <img style="width: 100px" src="/img/<%= post.author.avatar %>">
        </a>
    </div>

    <div>
        <h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
        <pre><%- post.content %></pre>
        <div>
            <span><%= post.created_at %></span>
            <span>浏览(<%= post.pv %>)</span>
            <span>留言(<%= post.commentsCount %>)</span>
        </div>
        <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
        <div>
            <div><a href="/posts/<%= post._id %>/edit">编辑</a></div>
            <div><a href="/posts/<%= post._id %>/remove">删除</a></div>
        </div>
        <% } %>

    </div>
</div>