<%- include('header') %>

<div>
    <div>
        <a href="/posts?author=<%= user._id %>"
           data-title="<%= user.name %>"
           data-content="<%= user.bio %>">
            <img style="width: 100px" src="/img/<%= user.avatar %>">
        </a>
    </div>

    <div>
        <form method="post" action="/posts">
            <div>
                <label>标题</label>
                <input type="text" name="title">
            </div>
            <div>
                <label>内容</label>
                <textarea name="content" rows="15"></textarea>
            </div>
            <input type="submit" value="发布">
        </form>
    </div>
</div>

<%- include('footer') %>